In [96]:
import pandas as pd
import re
import os 

# 1. Load Data
file_path = "./Dataset/HH31.xlsx" 
df = pd.read_excel(file_path)
df

    R= 132   G= 129.80   B=    89.50   73 %
0   R= 132   G= 129.80   B=    69.22   74 %
1   R= 134   G= 144.20   B=    72.60   74 %
2   R= 134   G= 129.80   B=    72.60   74 %
3   R= 134   G= 129.80   B=    72.60   74 %
4   R= 134   G= 129.80   B=    99.64   73 %
..                                      ...
66  R= 127   G= 129.80   B=    82.74   73 %
67  R= 127   G= 132.20   B=    75.98   72 %
68  R= 127   G= 132.20   B=    72.60   72 %
69  R= 127   G= 132.20   B=    75.98   72 %
70  R= 125   G= 129.80   B=    99.64   72 %

[71 rows x 1 columns]

In [97]:
# Ekstraksi data R, G, B menggunakan regex
def extract_rgb_regex(row):
    match = re.findall(r'R=\s*(\d+(?:\.\d+)?)\s*G=\s*(\d+(?:\.\d+)?)\s*B=\s*(\d+(?:\.\d+)?)', row)
    if match:
        r, g, b = map(float, match[0])
        return pd.Series([r, g, b], index=['R', 'G', 'B'])
    else:
        return pd.Series([None, None, None], index=['R', 'G', 'B'])
    
# Terapkan fungsi pada kolom pertama
rgb_df = df.iloc[:, 0].apply(extract_rgb_regex)
rgb_df

        R      G      B
0   132.0  129.8  69.22
1   134.0  144.2  72.60
2   134.0  129.8  72.60
3   134.0  129.8  72.60
4   134.0  129.8  99.64
..    ...    ...    ...
66  127.0  129.8  82.74
67  127.0  132.2  75.98
68  127.0  132.2  72.60
69  127.0  132.2  75.98
70  125.0  129.8  99.64

[71 rows x 3 columns]

In [98]:
# Hitung rata-rata RGB
rgb_avg = rgb_df.mean()
rgb_avg

R    128.492958
G    131.084507
B     85.072676
dtype: float64

In [99]:
# Hitung nilai Excess Green
excess_green = (2 * rgb_avg['G']) - (rgb_avg['R'] + rgb_avg['B'])
excess_green

48.603380281690136

In [100]:
print("Rata-rata R, G, B:")
print(rgb_avg)
print(f"\nNilai Excess Green (ExG): {excess_green}")

Rata-rata R, G, B:
R    128.492958
G    131.084507
B     85.072676
dtype: float64

Nilai Excess Green (ExG): 48.603380281690136

In [101]:
# Export hasil ke Excel 
file_name = os.path.splitext(os.path.basename(file_path))[0]
output_folder = "./outputRGB/"
output_file = f"Hasil_RGB_ExG_{file_name}.xlsx"
output_path = os.path.join(output_folder, output_file)

result_df = pd.DataFrame({
    'Rata-rata R': [rgb_avg['R']],
    'Rata-rata G': [rgb_avg['G']],
    'Rata-rata B': [rgb_avg['B']],
    'Excess Green (ExG)': [excess_green]
})

result_df.to_excel(output_path, index=False)

print(f"Hasil disimpan ke: {output_path}")

Hasil disimpan ke: ./outputRGB/Hasil_RGB_ExG_HH31.xlsx